{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip
  @operations path /metrics /readyz
  respond @operations 404
  reverse_proxy app:4173 {
    header_up X-Forwarded-For {remote_host}
    transport http {
      response_header_timeout 130s
    }
    flush_interval -1
  }
}
